{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
{% if request.user.is_staff %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nouveau camp
  </button>
</div>
{% endif %}
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouveau Camp</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action={% url 'createCamp' %} class="" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-row">
                      <div class="form-group ">{{ camp_form.name|as_crispy_field }}</div>
                      <div class="form-group ">{{ camp_form.from_date|as_crispy_field }}</div>
                      <div class="form-group ">{{ camp_form.to_date|as_crispy_field }}</div>
                      <div class="form-group ">{{ camp_form.section|as_crispy_field }}</div>
                      <div class="form-group ">{{ camp_form.deadline|as_crispy_field }}</div>
                      <div class="form-group ">{{ camp_form.type|as_crispy_field }}</div>
                    </div>
                  </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Create" />
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% for camp in camps %}
<div class="container mt-3">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><h3 class="card-title">{{ camp.name }}</h3></div>
        <div class="card-body">
        <h5>{{ camp.section.name }}</h5>
        {% if camp.status == 'Fini' %}
        <div class="card-title bg-success bg-opacity-25 p-2 border border-success rounded"><span class="me-2">{{ camp.status }}</span><span class="fa-regular fa-circle-check"></span></div>
        {% elif camp.status == 'En Cours' %}
        <div class="card-title bg-info bg-opacity-25 p-2 border border-info rounded"><span class="me-2">{{ camp.status }}</span><span class="fa-solid fa-spinner"></span></div>
        {% endif %}
        <p class="card-text">{{ camp.location.town }}</p>
        {% if camp.status == 'Fini' %}
        <div class="row">
          <div class="col">
              <a href="{% url 'menus' camp=camp.id %}" class="btn btn-primary" aria-current="page">Voir le menu</a>
          </div>
          <div class="col">
              <a href="{% url 'resetStatus' camp=camp.id %}" class="btn btn-primary" aria-current="page">Modifier</a>
          </div>
        </div>
        {% elif camp.status == 'En Cours' %}
        <a href="{% url 'menus' camp=camp.id %}" class="btn btn-primary" aria-current="page">Modifier le menu</a>
        {% endif %}

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
