{% extends "base.html"%}

{% block content %}
<div class="container m-3">
  {% if request.user.is_staff %}
  <a href="{% url 'createRecipe' %}" class="btn btn-primary" aria-current="page">Nouvelle Recette</a>
  {% endif %}
</div>
<div class="table-container">

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col"><div class="card-title bg-success bg-opacity-25 p-2 border border-success rounded"><span class="me-2">Recette</span></div></th>
                <th scope="col"><div class="card-title bg-success bg-opacity-25 p-2 border border-success rounded"><span class="me-2">Prix moyen</span></div></th>
                <th scope="col"><div class="card-title bg-success bg-opacity-25 p-2 border border-success rounded"><span class="me-2">Prairie ?</span></div></th>
                <th scope="col"><div class="card-title bg-success bg-opacity-25 p-2 border border-success rounded"><span class="me-2">Actions</span></div></th>
            </tr>
        </thead>
        <tbody>
        {% for key,recipe in recipes.items %}
            <tr>
                <th scope="row">{{ key }}</th>
                <td>{{ recipe.avg_price }}</td>
                <td>{% if recipe.prairie == True %}OUI{% else %}NON{% endif %}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
